<title>Veículos | Cadastro</title>

<div class="container-xl">
    <div class="table-responsive">

        <div class="table-wrapper" style="max-width: 600px; margin: auto;">

            <div class="table-title">
                <div class="row">
                    <div class="col-mb-3">
                        <h4>Novo Veículo</h4>
                    </div>
                </div>
            </div>

            <form action="/veiculo/criarPost" method="POST">

                <div class="form-control">
                
                    <div class="mb-3">
                        <label for="descricao" class="form-label">Descrição</label>
                        <input type="text" class="form-control" name="descricao" placeholder="Descrição do veículo">
                    </div>

                    <div class="mb-3">
                        <label for="placa" class="form-label">Placa</label>
                        <input type="text" class="form-control" name="placa" placeholder="Placa do veículo">
                    </div>

                    <div class="mb-3">
                        <label for="tipo" class="form-label">Tipo</label>
                        <input type="text" class="form-control" name="tipo" placeholder="Tipo do veículo">
                    </div>

                    <div class="mb-3">
                        <label for="ano" class="form-label">Ano</label>
                        <input type="text" class="form-control" name="ano" placeholder="Ano do veículo">
                    </div>

                    <div class="mb-3">
                        <label for="numeroRenavam" class="form-label">Renavam</label>
                        <input type="text" step="0.01" class="form-control" name="numeroRenavam"
                            placeholder="Número do Renavam" SIZE=11 MAXLENGTH=11>
                    </div>

                    <div class="mb-3">
                        <label for="validadeCsv" class="form-label">Validade do CSV</label>
                        <input type="date" step="0.01" class="form-control" name="validadeCsv"
                            placeholder="Validade do CSV">
                    </div>

                    <div class="mb-3">
                        <label for="validadeLit" class="form-label">Validade do LIT</label>
                        <input type="date" step="0.01" class="form-control" name="validadeLit"
                            placeholder="Validade do LIT">
                    </div>

                    <div class="mb-3">
                        <label for="capacidadePassageiros" class="form-label">Capacidade</label>
                        <input type="number" step="0.01" class="form-control" name="capacidadePassageiros"
                            placeholder="Capacidade de passageiros">
                    </div>

                    <center>
                        <button type="submit" class="btn btn-success"><i class="bi bi-check-circle-fill"></i>
                            Salvar</button>
                        <a href="/veiculo" class="btn btn-danger"><i class="bi bi-x-circle-fill"></i> Cancelar</a>
                    </center>

                </div>

            </form>

        </div>

    </div>
</div>
